{% load static %}

<head>
  <title>About</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  {% include 'navigation.html' %}

  <div class="container about-section">
    <h2>About WatchHouse</h2>
    <p>Welcome to WatchHouse, where luxury meets precision. At WatchHouse, we specialize in offering the finest
      timepieces that cater to every taste and style. Whether you're looking for a classic design, an innovative
      feature, or the latest trend, we've got something just for you.</p>
    <p>Our journey began with a passion for watches and a commitment to delivering high-quality timepieces. We work with
      renowned brands and curate the best selection of watches, ensuring you have access to the most exclusive
      collections in the industry.</p>
  </div>

  <div class="container service-section">
    <h3>Our Services</h3>
    <p>At WatchHouse, we offer a range of services to make your shopping experience memorable. From personalized watch
      consultations to professional repair services, our team is here to meet your every need. Our customer-first
      approach means that you'll always get the best service, whether you're buying your first watch or adding to your
      collection.</p>

    <div class="text-center mt-4">
      <img
        src="https://images.unsplash.com/photo-1670177257750-9b47927f68eb?q=80&w=1981&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Luxury Watch" class="service-img">
    </div>

    <div class="text-center mt-4">
      <p>Explore our wide range of watches and discover the one that fits your style and personality.</p>
    </div>
  </div>

  {% include 'footer.html' %}
</body>

</html>
